#root {
  text-align: center;
  background-color:rgb(238, 238, 238) ;
}

.container-login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  /* @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
  } */
}

.container-login .back {
  position: absolute;
  top: 30px;
  left: 30px;
}

.container-login .divLogo-login .logo-login {
  width: 420px;
  height: 300px;
  margin-right: 20px;

  @media (max-width: 1000px) {
    width: 320px;
    height: 200px;
  }
  @media (max-width: 600px) {
    width: 320px;
    height: 150px;
  }
}

.container-login .container-input-login {
  width: 630px;
  background-color: white;
  padding: 32px;
  border-radius: 20px;
  margin-right: 15px;

  @media (max-width: 1000px) {
    padding: 12px;
    height: 200px;
  }
  @media (max-width: 600px) {
    width: 500px;
    height: 160px;
  }
}

.container-login .container-input-login h1 {
  font-size: 32px;
  margin-bottom: 40px;

  @media (max-width: 1000px) {
    margin-bottom: 20px;
  }
  @media (max-width: 600px) {
    font-size: 26px;
    margin-bottom: 10px;
  }
}

.container-login .container-input-login .inputLogin {
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(240, 240, 240);
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  height: 50px;
  margin-bottom: 15px;

  @media (max-width: 1000px) {
    height: 40px;
  }
  @media (max-width: 600px) {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}
.container-login .container-input-login .inputLogin:focus {
  border-color: rgb(112, 112, 112);
  outline: 0;
}
.container-login .container-input-login .btnLogin {
  width: 70%;
  margin-bottom: 10px;
}

#error {
  color: red;
  margin-left: 16%;
}

.container-login .footer-login {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: rgb(100, 100, 100);

  @media (max-height: 800px) {
    bottom: 75px;
  }
}
