.nota-container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
  font-family: Arial, sans-serif;
  display: none;
}

.nota-container h2, h3 {
  text-align: center;
}

.nota-container ul {
  list-style: none;
  padding: 0;
}

.nota-container ul li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Esconde tudo na impressão exceto a nota */
@media print {
  .nota-container {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
  }
  body * {
      visibility: hidden;
  }
  .nota-container, .nota-container * {
      visibility: visible;
  }
  button {
      display: none;
  }
  @page {
      margin: 0;
  }
  body {
      margin: 0;
      padding: 0;
  }
}
